.header {
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
    border-bottom: 2px solid black;
    background-color: cornflowerblue;
}

h2 {
    text-align: left;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

.contact {
    padding: 30px;
    border-top: 2px solid black;
    text-align: center;
    background-color: azure;
}

.contactUs {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
