@import "header_footer.css";

.box1 {
    text-align: center;
    padding: 0 15%;
}

.box1 h3 {
    font-size: 32px;
    color: #0057A8;
}

.form-background {
    padding-top: 10%;
    height: 20em;
    background-color: rgba(0, 87, 168, 0.3);
    border-radius:4px;
}

form {
    text-align: center;
}

.box1 form input{
    text-align:center;
    width:70%;
    height:35px;
    margin-bottom:20px;
    border:none;
    border-radius:30px;
}

.box1 form input:focus{
    outline:none;
}

.box1 button{
    height:35px;
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    width:30%;
    background-color:#0057A8;
    color:#fff;
    font-weight: bold;
    border:none;
    border-radius:30px;
}