html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-image: url(res/train_header.jpg); 
  background-size: cover;
  height: 200px;
  text-align: left; 
}

.header h1 {
  color: #fff;
  line-height: 60px; 
  font-size: 52px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 70px 20px;
}

@media (max-width:850px) {
  .header h1 {
    font-size: 44px;
  }
}

.nav { 
  background: #0057A8;
  height: 32px; 
  width: 100%;
}

.nav ul {
  height: 32px;
  list-style: none;
  margin: 0 auto; 
  padding: 0 20px;
}

.nav ul li {
  color: #fff;
  display: inline-block; 
  height: 32px;
  line-height: 32px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.nav ul li:hover {
  background: #fff;
  cursor: pointer; 
  transition: background .5s;  
  color: #0057A8;
}

.footer { 
  background: #0057A8;
  height: 100px;
  text-align: center;
  padding-bottom: 20px; 
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer h3 { 
  color: #fff;
  font-size: 24px;
  line-height: 28px; 
  text-transform: uppercase;
}

.footer p { 
  color: #fff;
  font-size: 18px;  
  line-height: 20px;
}

.footer .contact-container {	 
  background: #0057A8;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}