@import "header_footer.css";
@import "blue_table.css";

.main_section {
    text-align: center;
    padding: 0 7%;
}

.main_section h3 {
    color: #0057A8;
    font-size: 32px;
}

.form-background {
    padding: 20px 30px;
    height: 100%;
    background-color: rgba(0, 87, 168, 0.3);
    border-radius:4px;
}

.form-background h3 {
    margin: 10px 0;
    align-text: center;
    color: #0057A8;
    font-size: 24px;
}

.info-table {
    text-align: left;
}

.input-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    border: none;
}

.input-table td {
    padding: 8px;
    text-align: right;
    font-size: 18px;
    width: 65%;
}

.white_input {
    width: 260px;
}

.white_select {
    width: 260px;
}

button{
    height:35px;
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    width:30%;
    background-color:#0057A8;
    color:#fff;
    font-weight: bold;
    border:none;
    border-radius:30px;
}