@import "header_footer.css";

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
	text-align: center;
}

.box1 {
	align-items: center;
	height: auto;
    padding: 30px;
    display: flex;
  	flex-direction: column;
}

	.personal_info {
		width: 100%;
		text-align: left;
	}
	
	.personal_info h3 {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 36px;
		line-height:36px;
		color: #000000;
	}
	
	.box1 button{
		height:35px;
		text-align:center;
		width:50%;
		background-color:#0057A8;
		color:#fff;
		font-weight: bold;	
		border:none;
		border-radius:30px;	
  		margin-top: auto;
  		margin-bottom: 50px ;
	}
	
	.personal_info_item {
		padding: 10px 0;
	}

.box2 {
	height: auto;
    padding: 0 30px;
}

	.item {
		padding: 3em 3em 0 3em;
		background-color: #ffffff;
		border-radius: 4px;
		text-align: center;
	}
	
	.item img {
		width: 100%;
	}
	
	.item header {
		border-radius: 4px;
		margin: -1.5em 3em 0 -3em;
		width: calc(100% + 6em);
		height: 15em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #444;
		color: rgba(255, 255, 255, 0.75);
		position: relative;
		overflow: hidden;
	}
	.item header h3{
		font-size: 28px;
		line-height:36px;
		color: #ffffff;
	}
	.item header a {
		transition: transform 0.2s ease;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
	}
	.item header a:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.item header:hover a {
		transform: scale(1.1);
	}
	.item header > * {
		position: relative;
		z-index: 1;
	}
	
@media screen and (max-width: 800px) {
	.item img {
		width: auto;
	}
}

@media screen and (max-width: 480px) {	
	.item img {
		width: auto;
	}

	.item {
		padding: 2em 1em 0.1em 1em;
	}
	.item header {
		margin: -2em 0 2em -1em;
		width: calc(100% + 2em);
	}
}
