@import "header_footer.css";
@import "blue_table.css";

.main_section {
	text-align: center;
	margin: 0 60px;
	padding-bottom: 20px;
}

.main_section h3 {
	color: #0057A8;
	font-size: 32px;
}

.routes_section {
	padding: 10px 30px;
	background-color: rgba(0, 87, 168, 0.3);
	text-align: center;
	margin: auto;
	border-radius: 5px;
}

.white_select {
	width: 270px;
}

button{
	height:35px;
	text-align:center;
	margin-bottom:20px;
	width:30%;
	background-color:#0057A8;
	color:#fff;
	font-weight: bold;	
	border:none;
	border-radius:30px;
}

.dates {
	margin: 20px 0;
}

.map {
	padding: 0;
	margin: auto;
	width: 80%;
	height: 90%;
}
