@import "header_footer.css";

.box1 {
    padding: 0 15%;
}

.box1 h3 {
    padding: 45px;
    margin-top: 0;
    font-size: 36px;
    line-height:36px;
    color: #000000;
}

.form-background {
    height: 35em;
    background-color: rgba(0, 87, 168, 0.3);
    border-radius:4px;
}

form {
    text-align: center;
}

.box1 form input{
    text-align:center;
    width:70%;
    height:35px;
    margin-bottom:20px;
    border:none;
    border-radius:30px;
}

.box1 form input:focus{
    outline:none;
}

.box1 button{
    height:35px;
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    width:50%;
    background-color:#0057A8;
    color:#fff;
    font-weight: bold;
    border:none;
    border-radius:30px;
}