@import "header_footer.css";
@import "blue_table.css";

.main_section {
    text-align: center;
    margin: 0 60px;
    padding-bottom: 200px;
}

.main_section h3 {
    color: #0057A8;
    font-size: 32px;
}