@import "header_footer.css";

.main_section {
    text-align: center;
    padding: 0 60px;
}

.main_section h3 {
    font-size: 32px;
    color: #0057A8;
}

.info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-background {
    text-align: left;
    padding-top: 6%;
    padding-left: 10%;
    height: 19em;
    background-color: rgba(0, 87, 168, 0.3);
    border-radius:4px;
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 20px;
}

.main_section button{
    height:35px;
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    width:80%;
    background-color:#0057A8;
    color:#fff;
    font-weight: bold;
    border:none;
    border-radius:30px;
}